@import url('https://fonts.googleapis.com');

html {
    font-family: 'Inter';
    background-color: #d7eca6;
    padding: 0px;
}

body {
    margin: 0px;
}

.navbar {
    background-color: #83a050;
    position: fixed;
    margin: 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 10vh;
    line-height: 10vh;
}

.navbar a:hover {
    background-color: #617e3e;
}

.navbar a img {
    max-height: 10vh;
}

.navbar .home:hover {
    background-color: inherit!important;
}

.navbar .home img:hover {
    content: url('/images/favicon-dark.png');
}

.discord {
    margin-left: auto!important;
}

.discord img {
    max-height: 5vh!important;
    padding-top: 2.5vh;
}

.insta img { 
    max-height: 5vh!important;
    padding-top: 2.5vh;
}

.email img {
    max-height: 5vh!important;
    padding-top: 2.5vh;
}