@import url('https://fonts.googleapis.com');

html {
    font-family: 'Inter';
    background-color: #d7eca6;
    padding: 0px;
    scrollbar-width: none;
}

body {
    margin: 0px;
}

.navbar {
    background-color: #83a050;
    position: fixed;
    margin: 0px;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    user-select: none!important;
    z-index: 1000;
}

.navbar a, .navbar p {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

.navbar a:hover, .navbar p:hover {
    background-color: #617e3e;
}

.navbar a img {
    height: 70px;
}

.navbar .home:hover {
    background-color: inherit!important;
}

.navbar .home img:hover {
    content: url('/images/favicon-dark.png');
}

.discord {
    margin-left: auto!important;
}

.discord img {
    height: 35px!important;
    padding-top: 17.5px;
}

.insta img { 
    height: 35px!important;
    padding-top: 17.5px;
}

.email img {
    height: 35px!important;
    padding-top: 17.5px;
}

#copyemailprompt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #ffffff50;
    backdrop-filter: blur(3px);
    align-items: center;
}

#copyemailpopup {
    width: 200px;
    background-color: #d7eca6;
    color: #1f3d2b;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
}

*:focus {
    outline: none;
}

#copyemailpopup button {
    font-size: 20px;
    color: #ffffff;
    background-color: #83a050;
    padding: 5px;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

#copyemailpopup button:hover {
    background-color: #617e3e;
}

#copyemailpopup p {
    margin: 0px;
}

br {
    user-select: none;
}

.main * {
    margin: 0px;
}

.main .logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    width: 150px;
}

.header * {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header p, .header h1 {
    width: 426px;
}

#title *[data-state="unload"] {
    opacity: 0;
    padding-top: 200px;
}

#title *[data-state="load"] {
    padding-top: 0px;
    opacity: 1;
}

#title .logo-img[data-state="load"] {
    padding-top: 90px;
}

#title * {
    transition: 300ms ease-in-out;
}

#title {
    height: 100vh;
}

hr {
    background-color: #a6a6a6;
    height: 3px;
    border-width: 0;
    border-radius: 1.5px;
    width: 60%;
    display: block;
    margin: 0 auto!important;
    text-align: center;
}

.body {
    width: 80vw;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.heading, .paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}